name: "Schedule"
scopeName: "source.sch"
fileTypes: [
  "sch"
]
limitLineLength: false
maxTokensPerLine: 1000
patterns: [
  # Matches block comments
  #
  # Examples
  #
  #   ////
  #   A multi-line comment.
  #
  #   Notice it's a delimited block.
  #   ////
  #
  name: 'comment.block.schedule'
  begin: '/\*$'
  patterns: [
    include: '#inlines'
  ]
  end: '^.*\*/'
,
  # Matches single line comments
  #
  # // A single-line comment
  #
  name: 'comment.inline.schedule'
  match: '^\/{2}.*$'
]
